main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #f2e8cc;
    color: #236130;
    padding-top: 4rem;
    padding-bottom: 5rem;


    h1 {
        text-align: center;
        font-size: 45px;
    }

    form {

        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(3,1fr);
        gap: 1.5rem;
        width: 70%;

        label {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 0.5rem;
            font-size: 30px;
            font-weight: 700;
        }

        #start, #end {
            padding: 1rem;
            font-size: 20px;
            border: 2px solid #000;
            border-radius: 25px;
            width: 33.5rem;
        }
        #startLabel {
            grid-column: 2/7;
            grid-row: 1/2;
        }
        #endLabel {
            grid-column: 2/7;
            grid-row: 2/3;
        }

        #search {
            grid-column: 6/7;
            grid-row: 3/4;
            justify-self: end;

            width: 8rem;
            height: 4rem;
            font-size: 20px;
            font-weight: 600;
            text-align: center;
            border: 2px solid #000;
            border-radius: 10px;
            background-color: #236130;
            color: #f2e8cc;
        }
    }
}
/*HAMBURGER START*/
#filtering{
    grid-column: 2/4;
    grid-row: 3/4;
    justify-self: center;

    .hidden{
        display: none;
    }

    .filterButton {
        /*display: none;*/
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 8rem;
        height: 4rem;

        color: #236130;
        background-color: #236130;
        border: 2px solid #000000;
        border-radius: 8px;
    }
    .fa-sliders {
        font-size: 25px !important;
        color: #f2e8cc;
    }

    /*Selve pop-up vinduet*/
    #menu{

        position: absolute;
        top: 390px;
        width: 10rem;
        margin: 0;
        margin-top: 1rem;
        margin-left: -3rem;
        padding: 2rem;

        color: #f2e8cc;
        background-color: #236130;
        border: 3px solid #000;

        label {
            margin-top: 0.5rem;
            font-size: 15px;
        }

        #close{
            position: absolute;
            top: 10px;
            right: 10px;
            color: #f2e8cc;
        }
    }

    #close{
        background: transparent;
        border: none;
        font-size: 20px;
        font-weight: 600;
    }

    .icon-btn{
        background-color: transparent;
        border: none;

        i{
            font-size: 18px;
        }
    }
}
/*HAMBURGER STOPP*/

#search-results {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    padding-top: 3rem;
    padding-bottom: 8rem;
    background-color: #f2e8cc;
    color: #236130;
    h2 {
        justify-self: center;
    }
    .result {
        border: 2px solid black;
    }
}
