
/*Global header*/
header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 7rem;
    padding: 1rem;
    background-color: #236130;
    border-bottom: 5px solid #99bd05;
    #logo {
        align-self: end;
        img {
            height: 4rem;
        }
    }
    p {
        font-style: italic;
        margin: 0;
        color: #f2e8cc;
    }

    #account {
        margin-left: auto;
        margin-right: 1rem;
        i {
            color: #f2e8cc;
        }
    }
}